*.pyc
*.log
.project
.pydevproject
org.eclipse.core.resources.prefs
.settings
*.kate*
*~
*_flymake.*
*#*
*.sw[po]
.DS_Store
/CACHE
*.rdb
.emacs.desktop*
*.egg
*.egg-info
slp/build/
export
users_data
python-rtmbot/doc
python-rtmbot/tests
*.csv
